<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content>
  <ion-item lines="none">
    <ion-label>Search By Company Name</ion-label>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="companyName" name="name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-button (click)="onClick()">Search</ion-button>
  </ion-item>
</ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      Market Cap
    </ion-col>
    <ion-col>
      {{response.marketCap}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Stock P/E    
    </ion-col>
    <ion-col>
      {{response.stockp/e}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      ROCE
    </ion-col>
    <ion-col>
      {{response.roce}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      EPS
    </ion-col>
    <ion-col>
      {{response.eps}}
    </ion-col>
  </ion-row>
</ion-grid>